* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

/* Nav Menu Styles */

.nav-menu {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
}

.menu-primary {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul>li {
    list-style: none;
    padding: 20px;
}

nav :hover {
    color: white;
}

nav li:hover {
    background-color: rgb(38, 130, 235);


}

nav li:hover {
    display: block;
}

li a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    list-style: none;
    font-weight: 700;
    font-size: 20px;
}


.btn-primary {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 0px 35px;
    height: 44px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background: #1884e2;
    text-decoration: none;
}

.btn-primary a {
    text-decoration: none;
    color: #fbfcfd;
}

.btn-primary i {
    color: #fbfcfb;
}

/* Nav Menu Style End */

/* Banner Style Start */

.banner {
    background-image: url('../images/banner/banner3.png');
    display: flex;
    background-repeat: no-repeat;
    text-align: right;
    position: absolute;
    width: 100%;
    height: 808px;

}

/* Banner Text Styles */
.text-primary {
    color: white;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

}

.banner-text {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-bottom: 30px;
}

.banner-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    margin-bottom: 30px;
}

.btn-secondary {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 0px 35px;
    height: 60px;
    border-radius: 5px;
    background: #fefeff;
    align-items: center;
    text-decoration: none;
}

.btn-form {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 0px 35px;
    height: 60px;
    border-radius: 5px;
    background: #1884e2;
    align-items: center;
    text-decoration: none;
}

.btn-secondary a {
    text-decoration: none;
    color: #1884e2;
}

.btn-form a {
    text-decoration: none;
    color: white;
}

/* Fail Part Styles */
.fail-part {
    display: flex;
    position: absolute;
    width: 1072px;
    height: 723.3px;
    left: 180px;
    top: 939px;
}

.fail-text {
    position: absolute;
    width: 416px;
    height: 400px;
    left: 660px;
    top: 250px;
}

.fail-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 30px;
}

.fail-description {
    font-weight: 300px;
    margin-bottom: 20px;
}

ul>li {
    list-style: none;
}

i {
    color: #16D887;
}

/* Fail Part Style End */

/* Plan Part Styles */

.plan-section {
    position: absolute;
    width: 1141px;
    height: 202.96px;
    left: 250px;
    top: 1889px;
}

.plan {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    width: 1141px;
    height: 202.96px;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.plan-details {
    width: 300px;
}

.plan-logo {
    margin-bottom: 20px;
}

.plan-sub {
    margin-bottom: 20px;
}

/* Plan Part Style End */

/* Positive Mindset Styles */
.positive-section {
    background-image: url('../images/watch.png'), url('../images/gradient1.png');
    position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2221.96px;
}

.positive {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    justify-content: center;
}

.positive-title {
    position: absolute;
    width: 459px;
    height: 182px;
    left: 50px;
    top: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 47px;
    color: white
}

.positive-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.positive-button {
    margin-top: 30px;
}

/* Positive Mindset Styles End */

/* Footer Styles */
.footer-area {
    display: flex;
    position: absolute;
    width: 100%;
    height: 580px;
    top: 2700px;
    background: black;
    color: white;
}

.contact {
    position: absolute;
    width: 485px;
    height: 317px;
    left: 240px;
    top: 120px;

}

.form {
    position: absolute;
    width: 325px;
    height: 204px;
    left: 1000px;
    top: 120px;

}

.footer-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

.email {
    margin-top: 20px;
    margin-bottom: 10px;
}

#email-box {
    width: 285px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background: none;
    border: 1px solid gray
}

.social-icon{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}

/* Footer Style End */

/* Copyright Style */
.copyright {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1140px;
    height: 50px;
    top: 3300px;
    margin: 0px 230px;
}